start_length = 20
start_offset = 20
start_initial_pattern_length = 4
intron_short_length = 584
intergenic_length = 1e4
stop_codon_length = 3
stop_codon_offset = 0
acceptor_length=6
acceptor_offset=3
acceptor_initial_pattern_length = 4
donor_length=9
donor_offset=3
donor_initial_pattern_length = 4
branch_length=32
isochore_min = 0.32
isochore_max = 0.72
isochore_nband = 10
final_state_probability= 1e-10
