training_algorithm="WeightArrayModel"
training_set="../ghmm/dataset/stop.fasta"
alphabet=( "A", "C", "G", "T")
length=3
order=2
pseudo_counts=0
weights="dataset/sequence_weights.txt"
# myop_revcomp:training_set="../ghmm/dataset/stop_rev.fasta"
# myop_generate_training_set = "segseq -r -x stop -f dataset/train.fa -g dataset/train.gtf -l <stop_codon_length> -o <stop_codon_offset> > ghmm/dataset/stop.fasta"
# myop_revcomp:myop_generate_training_set = "myop-reverse_complement  < ghmm/dataset/stop.fasta > ghmm/dataset/stop_rev.fasta"
# myop_train =  "tops-train -F -c ../ghmm/cnf/stop.cfg > model/stop.model"
# myop_revcomp:myop_train =  "tops-train -F -c ../ghmm/cnf/stop_rev.cfg > model/stop_rev.model"
# myop_isochore = 1
